<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./../public/style.css">
    <link rel="shortcut icon" href="./../public/ico/icon.png">
    <title>Error</title>
</head>

<body>
    <div class="loader">
        <div class="x">
            <svg id="logo" xmlns="http://www.w3.org/2000/svg" width="400" height="320" viewBox="0 0 60 80">
                <g>
                    <path
                        d="M 14.2 62.3 L 0 62.3 L 15.8 30.5 L 0.2 0 L 14.4 0 L 23.2 18.4 L 31.7 0 L 45.3 0 L 30.8 30.4 L 47.3 62.3 L 32.7 62.3 L 23.3 42.9 L 14.2 62.3 Z" transform="translate(5 10)" stroke="#ffffff" stroke-width="0" stroke-linejoin="round"/>
                </g>
            </svg>
        </div>
    </div>

    <main class="content background">
        <div class="centerX user">
            <div class="card usercard">
                <div class="spacebtw">
                    <div class="card cardmode open disappearNull" onclick="onModemenuKlick()">
                        <div class="mode-body">

                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                class="mode-icon">
                                <circle cx="12" cy="12" r="5"></circle>
                                <line x1="12" y1="1" x2="12" y2="3"></line>
                                <line x1="12" y1="21" x2="12" y2="23"></line>
                                <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                                <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                                <line x1="1" y1="12" x2="3" y2="12"></line>
                                <line x1="21" y1="12" x2="23" y2="12"></line>
                                <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                                <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
                            </svg>

                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                class="mode-icon">
                                <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
                            </svg>

                        </div>
                    </div>
                </div>
                <div class="left">
                    <h1 class="title user">An error has occurred</h1>
                </div>

                <br>
                <label>{{ error }}</label>
                <br>
                <label> <a href="sign-in">Sign In</a> </label>
                <label> <a href="sign-up">Sign Up</a> </label>
            </div>
        </div>
    </main>
    <script src="./../public/script.js" charset="utf-8"></script>
</body>

</html>